html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 70px;
    font-size: 120%;

}

.container {
    width: 100%;
}

.middle_area {
    height: 230px;
    margin-top: -115px;
    position: relative;
    top: 40%;
}

#login-form .control-label {
    display: none;
}

.grid-view .sort-link:after {
    content: "\f105";
    float: right;
    font-family: fontawesome;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}

.grid-view .sort-link.desc:after {
    content: "\f107";
    float: right;
    font-family: fontawesome;
}

.grid-view .sort-link.asc:after {
    content: "\f106";
    float: right;
    font-family: fontawesome;
}

.grid-view .sort-link .caret {
    display: none;
}

.grid-view .sort-link {
    display: block;
    padding: 8px 4px;
}

table thead th {
    border-left: 1px solid #e3e3e3;
}

table thead {
    background-image: linear-gradient(#fafafa, #eaeaea);
    color: rgba(35, 62, 70, 0.81);
    cursor: pointer;
    font-size: 12px;

}

.table-striped {
    border: 1px solid #dddddd;
    border-top: none;
}

.pagination {
    border-radius: 4px;
    display: inline-block;
    float: right;
    margin: 10px 0;
    padding-left: 0;
}

.grid-view .table th {
    padding: 3px;
}

.grid-view-loading .defender {
    display: block;
}

.defender {
    background-color: #ffffff;
    background-image: url('../img/loader.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    opacity: 0.6;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000000;
}

#user-grid td:nth-child(3) {
    white-space: nowrap;
}

.form-control {
    /*height: 35px;*/
}

#user-form .bootstrap-select {
    margin-bottom: 0 !important;
}

.bootstrap-select.btn-group .dropdown-menu {
    overflow-x: hidden;
    width: 100%;
}

.action_admin {
    display: none;
    float: right;
}

.user_role_admin .action_admin {
    display: inline-block;
}

.user_role_admin #list_organizations .action_admin {
    display: none;
}

.user_role_admin .hider:hover .action_admin {
    display: inline-block !important;
}

.info_block:hover {
    text-decoration: underline;
}

.info_block_src th:first-child {
    width: 220px;
}

.info_block_src {
    display: none;
}

.info_block {
    margin-left: 15px;
    cursor: pointer;
}

.grid-view {
    position: relative;
}

body {
    overflow-y: scroll;
}

.modal-open {

}

.modal {
    overflow-y: auto;
}

.modal-dialog .pagination {
    margin: 10px 0px 0 0;
}

.modal-dialog .table .selected td {
    background-color: #c3c3c3;
}

.modal-dialog .table {
    margin-bottom: 0;
    margin-top: 10px;
}

table .checkbox-column {
    text-align: center;
    width: 60px;
}

table thead th:first-child {
    border-left: none;
}

.qq-upload-list {
    border-top: 1px solid #e3e3e3;
    list-style: disc outside none;
    margin: 2px 0 15px;
    padding: 10px 10px 0;
}

.qq-upload-button {
    display: none;
}

.qq-upload-list li i {
    font-size: 14px;
    margin: 0 10px 0 0;

}

.qq-upload-list li {
    padding: 3px 0;
    list-style: none;
}

.qq-upload-success .qq-upload-file {
    display: inline-block;
    width: 60%;
}

.qq-upload-delete {
    width: 20%;
    display: inline-block;
    text-align: right;
}

.qq-upload-size {
    display: inline-block;
    width: 15%;
}

.modal-open #task-organizations-selected-grid .defender {
    display: none;
}

.tbl-details td, .tbl-details th {
    border-top: none !important;
}

.tbl-details th {
    text-align: right;
    padding-right: 20px !important;
}

.border {
    border-top: 1px solid #e3e3e3;
}

.prt {
    color: #ffffff;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 3px;
}

.priority-urgent, .status-rejected {
    background-color: #d9534f !important;
}

.status-progressing {
    background-color: #428bca;
}

.priority-high, .status-received {
    background-color: #f0ad4e !important;
}

.priority-normal, .status-approved {
    background-color: #5cb85c !important;
}

.priority-low, .status-pending {
    background-color: #777 !important;
}

.number {
    font-family: monospace, courier, typewriter, monospace;
    font-size: 16px;
}

.actions a {
    margin-right: 10px;
}

.btn-action:hover {
    background-color: #ededed;
}

.btn-action {
    padding: 3px 8px;
    background-color: #f1f1f1;
    border-radius: 2px;
    margin: 0 3px;
}

.table-hover tr:hover td {
    background-color: #e3d3d5 !important;
}