html {
    height: 100%;
}
body {
    height: 100%;
    padding-top: 70px;
}
.middle_area {
    height: 230px;
    margin-top: -115px;
    position: relative;
    top: 40%;
}
#login-form .control-label{
    display: none;
}